#page-header{
    background-color: #fff;
    box-shadow: none;
    position: relative;
    z-index: 10;
    .container-1{
        position: relative;
        display: flex;
        align-items: center;
        min-height: 110px;
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        max-width: 1170px;
        .page-logo-2{
            position: absolute;
            left: 0;
            top: 30px;
            display: block;
            width: 185px;
            height: 48px;
            background-image: url('../../../assets/logo/page-logo-6.png');
            background-size: 185px;
            background-repeat: no-repeat;
        }

        .page-title{
            width: 100%;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin: 0;
        }
    }
}
