#page-header{
    background-color: #232529;
    box-shadow: none;
    position: relative;
    z-index: 10;
    font-family: futura;
    .container-1{
        min-height: 72px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .page-logo-2{
            position: relative;
            margin:0 30px;
            width: 32px;
            height: 32px;
            flex-grow: 0;
        }

        .page-title{
            position: relative;
            color:white;
            font-size: 26px;
            font-weight: 500;
            margin: 0;
            flex-grow: 1;
        }

        .button-site{
            justify-self: flex-end;
            background-color: #fee600;
            display:flex;
            margin-right: 30px;
            align-items: center;
            padding: 0 16px;
            color: #232529;
            width: auto;
            height: 40px;
            font-size: 14px;
            border-radius: 8px;
            font-weight: 500;
            flex-grow: 0;
            cursor: pointer;
        }

        .button-site:hover{
            background-color: #f1d900;
        }

    }
}
