.steps-wrap {
    position: relative;
    font-family: futura;
    margin-top: 30px;
    .container-1{
        position: relative;
        z-index: 1;
        min-height: 100px;
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        max-width: 1170px;

        .steps{
            position: absolute;
            top: 60px;
            left: 90px;
            width: calc(100% - 180px);
            .progress {
                background-color: #dedfe2;
                >span{
                    transition: width 0.3s ease-out;
                    display: block;
                    height: 1px;
                    background-color: #fff100;
                }
            }
            .point{
                position: absolute;
                transform: translate3d(-50%, 0, 0);
                top: calc(50% - 15px);
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: #f7f7f8;
                border: 1px solid #dedfe2;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;

                >p{
                    position: absolute;
                    transform: translate3d(-50%, 0, 0);
                    bottom: -30px;
                    left: calc(50% + 0.2px);
                    color: #656772;
                    margin: 0;
                    font-size: 18px;
                    width: max-content;
                    font-weight: 400;
                }

                .currentp{
                    font-weight: 500;
                    color: #232529;
                }
            }

            .current {
                background-color: #548ca6;
                color: white;
            }
        }
    }
}
