.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
    margin: 80px auto 40px auto;
    position: relative;
    background: white;
    border-radius: 16px;
    font-family: amalia;
    height: auto;
    box-shadow: 0px 2px 2px 0px #cfcfcf;
    transition: height 0.2s ease;

    .top {
        position: relative;
        border-bottom: 3px solid #f7f7f8;
        display: inline-flex;
        width: 100%;
        align-items: center;
        margin-top: 5px;

        .title {
            float: left;
            margin: 20px;
            color: #232529;
            font-weight: 700;
            font-size: 24px;
        }

        .button {
            float: right;
            right: 0;
            position: absolute;
            font-family: amalia;
            margin-right: 20px;

            >button {
                border: none;
                background: none;
                color: #00758F;
                font-size: 16px;
                cursor: pointer;
            }

            >button:hover {
                color: #003e4d;
            }
        }
    }

    .content {
        position: relative;
        margin-top: 2%;
        display: block;
        width: 60%;
        margin: 5% auto;

        .text-content {
            font-size: 18px;
            width: 100%;
            display: block;
        }

        .custom-input {
            margin-top: 5%;
            text-align: center;

            >img {
                height: 228px;
            }

            >div {
                font-size: 16px;
                text-align: left;
                margin: 30px 0 40px 0;
            }
        }

        .text-content2 {
            font-size: 16px;
            width: 100%;
            color: #656772;
            text-align: center;
        }

        .loader {
            animation: loaderAnimation 2s infinite linear;
        }

        @keyframes loaderAnimation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .errorContainer {
            color: #D7424B;
            font-size: 16px;
        }
    }

    .loaderContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .bottom {
        position: relative;
        display: block;
        border-top: 3px solid #f7f7f8;
        width: 100%;
        padding: 20px 0;

        >button {
            float: right;
            margin-right: 20px;
            font-size: 14px;
            font-family: amalia;
            color: #232529;
            background-color: #fee600;
            display: flex;
            margin-right: 30px;
            align-items: center;
            padding: 0 20px;
            width: auto;
            height: 40px;
            font-size: 14px;
            border-radius: 8px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            box-shadow: 0px 2px 2px 0px #cfcfcf;
        }

        >button:hover {
            background-color: #f1d900;
        }

        .back {
            border: 1px solid #f7f7f8;
            background-color: white;
        }

        .back:hover {
            background-color: #f7f7f8;
        }
    }
}