.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100px;
  margin: 48px auto 0px auto;
  position: relative;
  background: white;
  border-radius: 16px;
  font-family: amalia;
  height: auto;
  box-shadow: 0px 2px 2px 0px #cfcfcf;
  transition: height 0.2s ease;
}
.container .top {
  position: relative;
  border-bottom: 3px solid #f7f7f8;
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin-top: 5px;
}
.container .top .title {
  float: left;
  margin: 24px;
  color: #232529;
  font-weight: 700;
  font-size: 24px;
}
.container .top .button {
  float: right;
  right: 0;
  position: absolute;
  font-family: amalia;
  margin-right: 20px;
}
.container .top .button > button {
  border: none;
  background: none;
  color: #00758F;
  font-size: 16px;
  cursor: pointer;
}
.container .top .button > button:hover {
  color: #003e4d;
}
.container .content {
  position: relative;
  display: block;
  width: 60%;
  margin: 5% auto;
}
.container .content .text-content {
  font-size: 18px;
  width: 100%;
  display: block;
}
.container .content .custom-input {
  margin-top: 5%;
  text-align: center;
}
.container .content .custom-input > img {
  height: 228px;
  max-width: 100%;
}
.container .content .text-content2 {
  font-size: 16px;
  width: 100%;
  color: #656772;
  text-align: center;
}
.container .content .loader {
  animation: loaderAnimation 2s infinite linear;
}
@keyframes loaderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container .content .errorContainer {
  color: #D7424B;
  font-size: 16px;
}
.container .loaderContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .loaderContent .subtitle {
  font-weight: 700;
  font-size: 32px;
  color: #232529;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
}
.container .bottom {
  position: relative;
  display: block;
  border-top: 3px solid #f7f7f8;
  width: 100%;
  padding: 20px 0;
}
.container .bottom > button {
  float: right;
  font-size: 14px;
  font-family: amalia;
  color: #232529;
  background-color: #fee600;
  display: flex;
  margin-right: 30px;
  align-items: center;
  padding: 0 20px;
  width: auto;
  height: 40px;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid rgba(19, 20, 22, 0.0784313725);
  cursor: pointer;
}
.container .bottom > button:hover {
  background-color: #f1d900;
}
.container .bottom .back {
  background-color: white;
}
.container .bottom .back:hover {
  background-color: #f7f7f8;
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 32px);
  }
  .container .top .title {
    margin: 12px 16px;
  }
  .container .content {
    width: calc(100% - 32px);
  }
  .container .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .container .bottom > button {
    width: calc(100% - 32px);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=forms-style.css.map */