.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .components {
        display: block;
        width: 100%;

        >select,
        >input {
            font-family: futura;
            background-color: #f3f3f4;
            color: #232529;
            display: block;
            width: 100%;
            height: 48px;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            padding-left: 16px;
        }

        >input::placeholder {
            color:#8F9199;
        }
        .wrapper {
            display: flex;
            align-items: center;
            gap: 5px;
            >label {
                color: #656772;
                font-size: 14px;
                font-weight: 500;
                display: inline-block;
            }

            >span {
                color: #D7424B;
                font-size: 16px;
            }

            >svg{
                align-self: flex-start;
            }
        }
        >form{
            >select,
            >input {
                position: relative;
                font-family: futura;
                background-color: #f3f3f4;
                color: #232529;
                display: block;
                width: 100%;
                height: 48px;
                border-radius: 8px;
                border: none;
                font-size: 16px;
                padding-left: 16px;
                padding-top: 4px;
            }

            >select,
            >input:focus{
                outline: none;
                border: solid 2px #EFD006;
            }

            >select option[value=""][disabled] {
                color: #8F9199;
            }
    
            .wrapper {
                display: flex;
                align-items: center;
                gap: 5px;
                >label {
                    color: #656772;
                    font-size: 12px;
                    font-weight: 500;
                    display: inline-block;
                }
    
                >span {
                    color: #D7424B;
                    font-size: 16px;
                }
    
                >svg{
                    align-self: flex-start;
                }
            }
            
            .error{
                color: #D7424B;
                font-size: 13px;
                margin-top: 10px;
                display: flex;
                align-items: center;

                >span{
                    margin-left: 10px;
                }
            }

            .phone{
                width: calc(100% - 96px);
                padding-left: 112px;
                background: url("../../../assets/icon/phoneFlag.png") no-repeat 16px center;
                background-size:auto 24px;
                background-color: #f3f3f4;
            }

            .errorInput{
                    border: solid 2px #D7424B;
            }
            
            .dropdown-list {
                display: none; // Inicijalno sakrijemo padajuću listu
              
                // Prikazujemo padajuću listu nakon unosa 3 karaktera
                &.active {
                  display: block;
                }
              
                ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  border: 1px solid #ccc;
                  border-top: none;
                  max-height: 150px; // Definišemo maksimalnu visinu padajuće liste
              
                  // Stilovi za stavke u padajućoj listi
                  li {
                    padding: 5px 10px;
                    cursor: pointer;
                    &:hover {
                      background-color: #f0f0f0;
                    }
                  }
                }
              }
        }
    }
}
