.container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.container .components {
  position: relative;
  display: block;
  width: 100%;
}
.container .components > select,
.container .components > input {
  font-family: amalia;
  background-color: #f3f3f4;
  color: #232529;
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}
.container .components > input::-moz-placeholder {
  color: #8F9199;
}
.container .components > input::placeholder {
  color: #8F9199;
}
.container .components .wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.container .components .wrapper > label {
  color: #656772;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  text-align: left;
}
.container .components .wrapper > span {
  color: #D7424B;
  font-size: 16px;
  transform: translateY(25%);
}
.container .components .wrapper > svg {
  align-self: flex-start;
}
.container .components > form {
  position: relative;
}
.container .components > form > select,
.container .components > form > input {
  position: relative;
  font-family: amalia;
  background-color: #f3f3f4;
  color: #232529;
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  padding-left: 16px;
}
.container .components > form > select {
  width: calc(100% + 18px);
}
.container .components > form > select:focus,
.container .components > form > input:focus {
  outline: none;
  border: solid 2px #EFD006;
}
.container .components > form .placeholder {
  color: #757575;
}
.container .components > form .wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container .components > form .wrapper > label {
  color: #656772;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}
.container .components > form .wrapper > span {
  color: #D7424B;
  font-size: 16px;
}
.container .components > form .wrapper > svg {
  align-self: flex-start;
}
.container .components > form .error {
  color: #D7424B;
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.container .components > form .error > span {
  margin-left: 10px;
}
.container .components > form .phone {
  width: calc(100% - 96px);
  padding-left: 111px;
  background: url("/assets/icon/phoneFlag2.png") no-repeat 16px center;
  background-size: auto 24px;
  background-color: #f3f3f4;
  color: #232529 !important;
  opacity: 0.5;
}
.container .components > form .prefilled {
  color: #8F9199;
}
.container .components > form .withIcon {
  padding-left: 42px;
}
.container .components > form .errorInput {
  border: solid 2px #D7424B;
}
.container .components > form .dropdown-list {
  display: none;
}
.container .components > form .dropdown-list.active {
  display: block;
  position: absolute;
  width: calc(100% + 16px);
  z-index: 100;
  background-color: white;
}
.container .components > form .dropdown-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: scroll;
  width: 100%;
}
.container .components > form .dropdown-list ul li {
  padding: 5px 10px;
  cursor: pointer;
}
.container .components > form .dropdown-list ul li:hover {
  background-color: #f0f0f0;
}
.container .components > form .leftIcon {
  position: absolute;
  top: 16px;
  left: 16px;
}
.container > span {
  font-size: 16px;
}
.container .action {
  font-size: 16px;
  color: #00758F;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}
.container .action:hover {
  color: #00333f;
}/*# sourceMappingURL=component-style.css.map */