* {
  font-family: amalia;
}

.upper {
  display: flex;
  position: relative;
  width: 100%;
  height: 454px;
  margin: 0;
}
.upper .left {
  background-color: #FEE600;
  width: 50%;
  height: 100%;
}
.upper .left .title {
  font-size: 48px;
  font-weight: 500;
  opacity: 0;
  margin-top: 100px;
  margin-left: 25%;
  width: 65%;
  animation: upperTitleAnimation 0.3s ease-out 0.5s forwards;
}
@keyframes upperTitleAnimation {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 50px;
    opacity: 1;
  }
}
.upper .left .text {
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  margin-left: 25%;
  margin-top: 100px;
  width: 65%;
  animation: upperTextAnimation 0.3s ease-out 0.8s forwards;
}
@keyframes upperTextAnimation {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 50px;
    opacity: 1;
  }
}
.upper .right {
  width: 50%;
  height: 100%;
  background: url("/assets/images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.info {
  display: flex;
  width: 80%;
  margin: 0;
  justify-content: space-evenly;
  height: auto;
  padding: 50px 10%;
  background-color: white;
}
.info .section {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  opacity: 0;
  animation: opacityChange 0.5s ease-out 1s forwards;
}
.info .section .title {
  font-size: 32px;
  font-weight: 500;
  color: #232529;
}
.info .section .text {
  font-size: 16px;
  font-weight: 400;
  color: #656772;
}
@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.info .section:nth-child(2) {
  animation-delay: 1.5s;
}
.info .section:nth-child(3) {
  animation-delay: 2s;
}

.main {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #F7F7F8;
}
.main .inputWrapper {
  width: 60%;
  margin: 0;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .inputWrapper > span {
  position: relative;
}
.main .inputWrapper > span > input {
  position: relative;
  font-family: amalia;
  background-color: rgba(101, 103, 114, 0.0784313725);
  color: #232529;
  font-weight: 500;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  text-align: right;
  padding-top: 2px;
}
.main .inputWrapper > span > input:focus {
  outline: none;
  border: solid 2px #00A5BC;
}
.main .inputWrapper > span .inputAfter {
  font-weight: 500;
  display: block;
  font-size: 16px;
  color: #232529;
  position: absolute;
  top: 12px;
  right: 16px;
  pointer-events: none;
}
.main .inputWrapper > span #numberInput {
  padding-right: 50px;
}
.main .inputWrapper > span #number2Input {
  width: 75px;
  padding-right: 75px;
}
.main .inputWrapper > label {
  color: #656772;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  text-align: left;
}
.main .sliderWrapper {
  width: 60%;
  margin: 10px 0;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .sliderWrapper .slider {
  width: 100%;
  position: relative;
  text-align: center;
}
.main .sliderWrapper .slider > img {
  width: calc(100% - 84px);
}
.main .sliderWrapper .slider .inside {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
.main .sliderWrapper .slider .inside .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #ccc;
  cursor: pointer;
}
.main .sliderWrapper .slider .inside .button:hover {
  border-color: #00A5BC;
}
.main .sliderWrapper .slider .inside .button:active {
  box-shadow: 0px 0px 2px 2px rgba(0, 165, 188, 0.3);
}
.main .sliderWrapper .slider .inside .customSliderWrapper {
  position: relative;
  flex-grow: 1;
}
.main .sliderWrapper .slider .inside .customSliderWrapper .line {
  position: absolute;
  top: 12px;
  left: 2px;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background-color: #00A5BC;
  pointer-events: none;
}
.main .sliderWrapper .slider .inside .customSliderWrapper .custom-slider {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #eae9e6;
  accent-color: #00A5BC;
  border-radius: 2px;
  height: 4px;
  cursor: pointer;
}
.main .sliderWrapper .slider .inside .customSliderWrapper input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: #ccc;
  border-radius: 2px;
}
.main .sliderWrapper .slider .inside .customSliderWrapper input[type=range]::-moz-range-track {
  height: 4px;
  background: #ccc;
  border-radius: 2px;
}
.main .sliderWrapper .slider .inside .customSliderWrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid rgba(19, 20, 22, 0.0784313725);
  transform: translateY(-12px);
}
.main .sliderWrapper .slider .inside .customSliderWrapper input[type=range]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid rgba(19, 20, 22, 0.0784313725);
  transform: translateY(-12px);
}
.main .sliderWrapper .slider .inside .customSliderWrapper input[type=range]::-webkit-slider-thumb:hover {
  border-color: #00A5BC;
}
.main .sliderWrapper .slider .inside .customSliderWrapper input[type=range]::-moz-range-thumb:hover {
  border-color: #00A5BC;
}
.main .sliderWrapper .values {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.main .sliderWrapper .values > span {
  color: #8F9199;
  font-size: 14px;
  font-weight: 400;
}

.bottom {
  width: 40%;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.bottom .title {
  font-size: 34px;
  font-weight: 500;
  width: 100%;
}
.bottom .choices {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgba(143, 145, 153, 0.2392156863);
  display: flex;
  gap: 20px;
}
.bottom .choices .choice {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 0 10px 0;
  cursor: pointer;
}
.bottom .choices .selected {
  font-weight: 500;
  font-size: 18px;
  border-bottom: solid 4px #FEE600;
  padding: 10px 0;
}
.bottom .text {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  color: #656772;
}
.bottom > table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.bottom > table > tr {
  border-bottom: 1px solid rgba(143, 145, 153, 0.2392156863);
}
.bottom > table > tr > td {
  padding: 24px 0 14px 0;
  font-size: 16px;
  position: relative;
}
.bottom > table > tr > td > span {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 12px;
  font-weight: 500;
  color: #656772;
}
.bottom > table > tr > td > svg {
  cursor: pointer;
}
.bottom > table > tr > td > svg:hover {
  fill: #FEE600;
}
.bottom > table > tr > td > svg:hover > path {
  fill: #FEE600;
}
.bottom .customSelect {
  width: 100%;
  margin: 40px auto;
}
.bottom .line {
  border-bottom: 1px solid rgba(143, 145, 153, 0.2392156863);
}
.bottom .button {
  font-size: 14px;
  color: #232529;
  background-color: #fee600;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid rgba(19, 20, 22, 0.0784313725);
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px #cfcfcf;
  margin: 20px auto;
}
.bottom .button:hover {
  background-color: #f1d900;
}

@media screen and (max-width: 700px) {
  .upper {
    flex-direction: column;
    height: auto;
  }
  .upper .left {
    width: 100%;
    height: auto;
  }
  .upper .left .title {
    margin: 40px;
    font-size: 32px;
    width: calc(100% - 80px);
    animation: upperTitleAnimation2 0.3s ease-out 0.5s forwards;
  }
  @keyframes upperTitleAnimation2 {
    from {
      margin-left: 0;
      opacity: 0;
    }
    to {
      margin-left: 40px;
      opacity: 1;
    }
  }
  .upper .left .text {
    font-size: 14px;
    margin: 0 40px 40px 40px;
    width: calc(100% - 80px);
    animation: upperTextAnimation2 0.3s ease-out 0.8s forwards;
  }
  @keyframes upperTextAnimation2 {
    from {
      margin-left: 20px;
      opacity: 0;
    }
    to {
      margin-left: 40px;
      opacity: 1;
    }
  }
  .upper .right {
    width: 100%;
    height: 74vw;
  }
  .info {
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
  }
  .info .section {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .main .inputWrapper {
    width: calc(100% - 20px);
  }
  .main .inputWrapper > span #number2Input {
    width: 80px;
    padding-right: 70px;
  }
  .main .sliderWrapper {
    width: calc(100% - 20px);
  }
  .bottom {
    width: 80%;
  }
  .bottom .title {
    font-size: 32px;
  }
  .bottom .customSelect {
    width: 100%;
    margin: 40px auto;
  }
}/*# sourceMappingURL=welcome.component.css.map */