/* You can add global styles to this file, and also import other style files */
/*#region fonts*/
@font-face {
  font-family: "amalia";
  src: url("assets/fonts/Amalia-Regular.ttf");
  src: url("assets/fonts/Amalia-Regular.woff") format("woff"), url("assets/fonts/Amalia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amalia";
  src: url("assets/fonts/Amalia-Medium.ttf");
  src: url("assets/fonts/Amalia-Medium.woff") format("woff"), url("assets/fonts/Amalia-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "amalia";
  src: url("assets/fonts/Amalia-Bold.ttf");
  src: url("assets/fonts/Amalia-Bold.woff") format("woff"), url("assets/fonts/Amalia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "amalia";
  src: url("assets/fonts/Amalia-Black.ttf");
  src: url("assets/fonts/Amalia-Black.woff") format("woff"), url("assets/fonts/Amalia-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8F9199;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

body {
  background-color: #f7f7f8;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.mat-mdc-dialog-surface {
  border-radius: 16px !important;
}

.tooltip{
  font-family: amalia;
  display: block;
  background: white;
  padding: 16px 20px;
  font-weight: 400;
  font-size: 12px;
  color: #656772;
  box-shadow: 0px 2px 5px 0px #cfcfcf;
  border-radius: 16px;
  z-index: 1000;
  max-width: 300px;
}

.tooltip::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  right: 11px;
  width: 40px;
  height: 13.35px;
  background-image: url('assets/icon/Pointer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
}
